body {
    background-color: powderblue;
  }
  h1 {
    color: black;
    font-family: Arial;
    font-size: 300%;
    text-align: center;
    border: 4px solid black;
  }
  p {
    color: red;
    font-family: Arial;
    font-size: 120%;
    text-align: center;
  }
  a {
    color: black;
    font-family: Arial;
    text-align: center;
  }